.large-text {
    font-size: 55px;
}

.block-text {
    font-family: "fantasy", sans-serif; /* Replace 'YourBlockFont' with the actual font family name. */
    text-transform: uppercase; /* Convert text to uppercase for a block letter effect. */
    letter-spacing: 2px; /* Adjust letter spacing as needed. */
  }

.button-container {
    position: absolute;
    top: 125px; /* Adjust as needed */
    left: 145px;
    height: 4vh; /* Adjust as needed for your layout */
  }
  
.image-background {
    background-image: url("../img/ggbackground.jpg");
    background-size: cover; /* Adjust this property to control the image size */
    background-attachment: fixed;
  }

.custom-image {
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
  }